.top-history {
  background-color: rgb(238, 236, 236);
  padding: 10px;
  border: 1px solid black;
  border-radius: 16px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-weight: bold;
    }

    &-actions {
      display: flex;
      gap: 8px;
    }
  }
}
